<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The book</title>
</head>
<body>
<h1 th:text="${book.getBookTitle() + ', '+ book.getBookAuthor() + ', ' + book.getBookYear()}">VALUE</h1>
<br/>

<div th:if="${bookOwner}">
    <h3 th:text="'The book is now with: ' + ${bookOwner.getPersonName()}"></h3>
    <form th:method="PATCH" th:action="@{/books/{id}/editPersonIdToNull(id=${book.getBook_id()})}">
        <input type="submit" value="Make the book free"/>
    </form>
</div>

<div th:if="${people}">
    <h3>This book is free now. Who should this book be assigned to?</h3>
    <form th:method="PATCH" th:action="@{/books/{id}/editPersonId(id=${book.getBook_id()})}">
        <label for="people">Choose a person: </label>
        <select th:object="${person}" th:field="*{person_id}" id="people">
            <option th:each="person : ${people}"
                    th:value="${person.getPerson_id()}"
                    th:text="${person.getPersonName()}">VALUE</option>
        </select>
        <input type="submit" value="Select">
    </form>
</div>

<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">
    <button>Edit</button>
</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>
<hr/>
<a href="/people"><button>Go to people list</button></a>
<a href="/books"><button>Go to books list</button></a>
</body>
</html>