<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The book</title>
</head>
<body>
<h1 th:text="${book.getBookTitle() + ', '+ book.getBookAuthor() + ', ' + book.getBookYear()}">VALUE</h1>
<hr/>
<a th:href="@{/books/{id}/edit(id=${book.getBook_id()})}">
    <button>Edit</button>
</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getBook_id()})}">
    <input type="submit" value="Delete"/>
</form>
<hr/>
<a href="/people"><button>Go to people list</button></a>
<a href="/books"><button>Go to books list</button></a>
</body>
</html>